<!-- src/app/pages/movimientos/movimientos-form.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movimientos"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear / Editar Movimiento</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="guardar()">
    
    <ion-item>
    <ion-label>Fecha Movimiento</ion-label>
    <ion-datetime-button datetime="FechaMovimiento"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
            <ng-template>
            <ion-datetime
                id="FechaMovimiento"
                presentation="date"
                (ionChange)="form.get('FechaMovimiento')?.setValue($event.detail.value)">
            </ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-item>

   <ion-item>      
      <ion-select 
      formControlName="IdTipo"
      label="Tipo Movimiento"
      interface="popover"
      placeholder="Seleccione"
      >
        <!-- Cargar desde tabla TipoMovimientos -->
        <ion-select-option [value]="1">Ingreso</ion-select-option>
        <ion-select-option [value]="2">Gasto</ion-select-option>
        <ion-select-option [value]="3">Cuenta X Cobrar</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>      
      <ion-select 
      formControlName="IdConcepto"
      label="Concepto"
      interface="popover"
      placeholder="Seleccione"
      >
        <!-- Cargar desde ConceptoMovimientos -->
        <ion-select-option [value]="1">Cuenta 50K</ion-select-option>
        <ion-select-option [value]="2">Pago Emp Fdeo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input type="number" formControlName="Valor"></ion-input>
    </ion-item>

    <ion-item>      
      <ion-select 
      formControlName="Moneda"
      label="Moneda"
      interface="popover"
      placeholder="Seleccione"
      >
        <!-- Cargar desde ConceptoMovimientos -->
        <ion-select-option [value]="1">USD</ion-select-option>
        <ion-select-option [value]="2">COP</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input type="number" formControlName="Cantidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Total</ion-label>
      <ion-input type="number" formControlName="Total" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Responsable</ion-label>
      <ion-input formControlName="Responsable"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Documento Relacionado</ion-label>
      <ion-input formControlName="DocumentoRelacionado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nota</ion-label>
      <ion-input formControlName="Nota"></ion-input>
    </ion-item>


    <ion-button expand="block" type="submit" class="ion-margin-top">Guardar</ion-button>
  </form>
</ion-content>

