/* src/app/pages/movimientos/movimientos-form.page.scss */
ion-item ion-label {
  font-size: 16px;
  
}



swiper-slide {
  height: calc(100vh - 150px); // Ajusta según tu header
  overflow-y: auto;
  display: block;
}



.movimientosform-container {
  max-width: 1003px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto !important;
  //text-align: center;
}
