<!-- src/app/pages/movimientos/movimientos-form.page.html -->
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movimientos"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Movimiento</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Toolbar -->
<header class="toolbar toolbar-tertiary">
  <button class="back-btn" (click)="goBack()">
    ⬅ Volver
  </button>

  <h1 class="toolbar-title">Registrar Movimiento</h1>
</header>


<ion-content [fullscreen]="true" class="ion-padding">

  <div class="form-container">

    <form [formGroup]="form" (ngSubmit)="guardar()">

    

      <div class="grid-row">
        <div class="grid-col-6">
          <label>Fecha Movimiento:</label>
          <input type="date" formControlName="FechaMovimiento"
            (change)="form.get('FechaMovimiento')?.setValue($event.target.value)" />
        </div>

        <div class="grid-col-6">
          <label for="IdTipo">Tipo Movimiento:</label>
          <select formControlName="IdTipo" (change)="onTipoChange($event)" >
            <option *ngFor="let tipo of tipos" [value]="tipo.id">
              {{ tipo.label}}
            </option>
          </select>
        </div>

      </div>

      <div class="grid-row">
        <div class="grid-col-6">
          <label for="IdConcepto">Concepto:</label>
          <select formControlName="IdConcepto" (change)="onConceptoChange($event)">
            <option *ngFor="let c of conceptos" [value]="c.id">
              {{ c.label}}
            </option>
          </select>
        </div>
        <div class="grid-col-6">
          <label for="Moneda">Moneda:</label>
          <select formControlName="Moneda"  (change)="onMonedaChange($event)">
            <option *ngFor="let m of monedas" [value]="m.value">
              {{ m.label}}
            </option>
          </select>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-col-4">
          <label>Valor</label>
          <input type="number" formControlName="Valor" placeholder="0" />
        </div>
        <div class="grid-col-4">
          <label>Cantidad</label>
          <input type="number" formControlName="Cantidad" placeholder="0" />
        </div>
        <div class="grid-col-4">
          <label>Total</label>
          <input type="number" formControlName="Total" readonly="true" placeholder="0" />
        </div>
      </div>

      <!-- empresa -->
      <div class="form-row">
        <label for="Empresa">Empresa:</label>
        <select formControlName="Empresa">
          <option *ngFor="let em of empresas" [value]="em.value">
            {{ em.label}}
          </option>
        </select>
      </div>

        <!-- Num Cuenta -->
      <div class="form-row">
        <input type="text" formControlName="NumeroCuenta" placeholder="Num Cuenta" />
      </div>


      <div class="grid-row">
        <div class="grid-col-6">
          <input type="text" formControlName="DocumentoRelacionado" placeholder="Documento Rdo" />
        </div>
        <div class="grid-col-6">
          <input type="text" formControlName="Responsable" placeholder="Responsable ( Email )" />
        </div>
      </div>

      <div class="form-row">
        <input type="text" formControlName="Factura" placeholder="Factura" />
      </div>
      <!-- Comentario -->
      <div class="form-row">
        <textarea formControlName="Nota" placeholder="Nota" autoGrow="true" rows="3"></textarea>
      </div>

      <!-- Botón Guardar -->
      <button type="submit" class="btn-tertiary btn-block" [disabled]="!form.valid">
        Guardar Movimiento
      </button>

    </form>

  </div>
</ion-content>