<ion-header class="app-header">
  <div class="toolbar">
    <div class="toolbar-start">
      <!-- Botón de menú -->
      <button class="menu-button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        ☰
      </button>
    </div>
    <!-- Título -->
    <h1 class="toolbar-title">Movimientos</h1>
  </div>

 
<!--Menu-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-warning text-dark">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu Principal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body p-0">

    <ul class="list-group list-group-flush">

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-home me-3 fs-4 text-secondary"></i>
        <a href="/home" class="flex-grow-1 text-decoration-none text-dark">Inicio</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-danger"></i>
        <a href="/cuentas" class="flex-grow-1 text-decoration-none text-dark">Cuentas</a>
        <span class="badge bg-secondary rounded-pill">1</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-success"></i>
        <a href="/movimientos" class="flex-grow-1 text-decoration-none text-dark">Movimientos</a>
        <span class="badge bg-secondary rounded-pill">2</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-info"></i>
        <a href="/operativas" class="flex-grow-1 text-decoration-none text-dark">Operativas</a>
        <span class="badge bg-secondary rounded-pill">3</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-warning"></i>
        <a href="/maestros" class="flex-grow-1 text-decoration-none text-dark">Maestros</a>
        <span class="badge bg-secondary rounded-pill">4</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-users me-3 fs-4 text-warning"></i>
        <a href="/clientes" class="flex-grow-1 text-decoration-none text-dark">Clientes</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-building me-3 fs-4 text-warning"></i>
        <a href="/empresas-fond" class="flex-grow-1 text-decoration-none text-dark">Empresas Fond</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-briefcase me-3 fs-4 text-warning"></i>
        <a href="/cuentasxemp" class="flex-grow-1 text-decoration-none text-dark">CuentasXEmp.</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-chart-bar me-3 fs-4 text-warning"></i>
        <a href="/reportes" class="flex-grow-1 text-decoration-none text-dark">Reportes</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item mt-2">
        <i class="fa fa-sign-out-alt me-3 fs-4 text-dark"></i>
        <a href="/login" class="flex-grow-1 text-decoration-none text-dark">Salir</a>
      </li>

    </ul>

  </div>
</div>

<!--fin menu-->

</ion-header>
 <!-- Segmento con iconos -->
  <ul class="nav nav-pills nav-fill segment-bar">
  <li class="nav-item">
    <a class="nav-link active" data-value="Ingreso" (click)="segmentClick($event)">
      <i class="bi bi-arrow-down-circle text-success"></i>
      Ingresos
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-value="Gasto" (click)="segmentClick($event)">
      <i class="bi bi-arrow-up-circle text-danger"></i>
      Gastos
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-value="Otros" (click)="segmentClick($event)">
      <i class="bi bi-collection"></i>
      Otros
    </a>
  </li>
</ul>

<!-- ✅ AHORA EL CONTENIDO VA AQUÍ -->
<ion-content>

  <!-- Buscador -->
  <!-- <ion-searchbar [(ngModel)]="terminoBusqueda" placeholder="Buscar..." debounce="300" (ionInput)="onBuscar()">
  </ion-searchbar>-->
<div class="searchbar">
  <div class="search-wrapper">
    <input type="text" [(ngModel)]="terminoBusqueda"
      placeholder="Buscar operativas..."
      class="search-input" />

    <i class="fa fa-search search-icon"></i>
  </div>
</div>

  <!-- Swiper -->
  <swiper-container #slides (slidechange)="onSwipeChange()" space-between="10" speed="250" [autoHeight]="true">

    <swiper-slide>
      <div style="min-height: 100%;">
        <ng-container *ngTemplateOutlet="lista; context:{tipo:'Ingreso'}"></ng-container>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div style="min-height: 100%;">
        <ng-container *ngTemplateOutlet="lista; context:{tipo:'Gasto'}"></ng-container>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div style="min-height: 100%;">
        <ng-container *ngTemplateOutlet="lista; context:{tipo:'Otros'}"></ng-container>
      </div>
    </swiper-slide>

  </swiper-container>

  <!-- Template lista con swipe y botones -->
  <ng-template #lista>
    <ion-list *ngIf="movimientos$ | async as movimientos" style="padding-bottom: 80px;">
      <ion-item-sliding *ngFor="let m of movimientos | filtroPorTipo:tipoSeleccionado | filtroGlobal:terminoBusqueda">

        <ion-item>
          <ion-label>
            <h3>{{ m.Numero }} - {{ m.FechaMovimiento }}</h3>
            <p>{{ m.Concepto }} - {{ m.Empresa }}</p>
            <p><strong>{{ m.Tipo }} : {{ m.Total || m.Valor | number:'1.2-2' }} - {{ m.Moneda }}</strong></p>
            <p>Observación: {{ m.Nota }}</p>
            <p>Registrado por: {{ m.Responsable }}</p>
          </ion-label>


          <!-- Botones visibles -->

                   <!-- Botón Editar -->
<button class="btn btn-link p-0 me-2" (click)="editar(m.id)">
  <i class="fa fa-edit fs-3"></i>
</button>

<!-- Botón Eliminar -->
<button class="btn btn-link p-0 text-danger" (click)="eliminar(m.id)">
  <i class="fa fa-trash fs-3"></i>
</button>
          
        </ion-item>

        <!-- Acción al deslizar hacia la izquierda (start) -->
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="editar(m.id)">
            <ion-icon name="create-outline"></ion-icon>
            Editar
          </ion-item-option>
        </ion-item-options>

        <!-- Acción al deslizar hacia la derecha (end) -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminar(m.id)">
            <ion-icon name="trash-outline"></ion-icon>
            Eliminar
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </ng-template>

  

  <!-- Botón flotante -->
  <button class="fab fab-tertiary" (click)="irCrear()" title="Nuevo registro">
    <i class="fa fa-plus"></i>
  </button>

</ion-content>