/* Contenedor general */
.login-container {
 
  width: 480px;
  margin: 0 auto;
  padding: 20px;
  //text-align: center;
}

/* Logo */
.logo-empresa {
  width: 200px;
  height: auto;
  margin: 40px auto;
  margin-top: 55px;
  display: block;
}

/* Formulario */
.login-form {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  margin-top: 10px;
}

.label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #333;
}

/* Input con ícono */
.input-wrapper {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 10px;
}

.input-emoji {
  font-size: 20px;
  margin-right: 8px;
}

.input-wrapper input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  outline: none;
  font-size: 15px;
}

/* Botón verde */
.btn-login {
  width: 100%;
  background: #28a745;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.btn-login:hover {
  background: #23923d;
}

/* Link registro */
.register-link {
  margin-top: 20px;
}

.register-link a {
  color: #0077ff;
  text-decoration: none;
}

/* Footer */
.footer-text {
  margin-top: 40px;
  font-size: 13px;
  color: gray;
  
}

.footer-derecha{
  text-align: center;
}
