ion-content {
  --background: #ffffff; // Fondo blanco limpio
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  text-align: center;
  margin-top: 10px;
}

.logo-empresa {
  max-height: 250px;
  width: auto;
}

.login-form {
  margin-top: 10px;
  padding: 0 10px;
}

ion-item {
  --highlight-color-focused: #28a745; // Verde al enfocar
  --border-color: #ccc;
}

ion-label {
  color: #333;
}

ion-input {
  color: #000;
}

.footer-derecha {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 50px;
  margin-bottom: 20px;
}

