<ion-content class="ion-padding">

  <!-- Logo de la empresa centrado -->
  <div class="logo-container">
    <img src="../../../assets/img/JLInvesting.jpg" alt="Logo Empresa" class="logo-empresa" />
  </div>

  <!-- Formulario de login -->
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">

    <p>Usuario / Email</p>
    <ion-item lines="full">
      <!-- <ion-label position="floating">Usuario / Email</ion-label> -->
      
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <p>Contraseña</p>
    <ion-item lines="full">
      <!-- <ion-label position="floating">Contraseña</ion-label> -->
       
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" color="success">
      Iniciar sesión
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <a (click)="irARegistro()">¿No tienes cuenta? Regístrate</a>
    </div>
  </form>

  <!-- Footer -->
  <div class="footer-derecha">
    Creado por JLInvesting - Fondo de inversión - 2024
  </div>

</ion-content>



