
<ion-content class="ion-padding">

  <!-- Logo de la empresa centrado -->
  <div class="ion-text-center ">    
    <img src="../../../assets/img/JLContador1.jpg" alt="Logo Empresa" class="logo-empresa" height="280" />
  </div>
  

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario / Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" color="success" >
      Iniciar sesión
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <a (click)="irARegistro()">¿No tienes cuenta? Regístrate</a>
    </div>
  </form>

    <!-- Texto inferior alineado a la derecha -->
  <div class="footer-derecha">
    Creado por JLInvesting - Fondo de inversión
  </div>


</ion-content>
