<!-- src/app/pages/operativas/operativaslist.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Operativas</ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ng-container *ngIf="operativas$ | async as operativas; else noData">
    <ion-list>
      <ion-item-sliding *ngFor="let o of operativas">
        <ion-item>
          <ion-label>
            <h2>{{ o.NumOperativa || o.NumOperativa || 'N/A' }}</h2>
            <p>Fecha: {{ formatFecha(o.Fecha || o.Fecha) }}</p>
            <p>Activo: {{ o.Activo || o.Activo }}</p>
            <p>Resultado: {{ o.Resultado || o.Resultado }}</p>
            <p><strong>Balance:</strong> {{ o.BalanceActual || o.BalanceActual }}</p>
          </ion-label>

          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="editar(o.id ?? o['id'])">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="confirmarEliminar(o.id ?? o['id'])">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="editar(o.id ?? o['id'])">Editar</ion-item-option>
          <ion-item-option color="danger" (click)="confirmarEliminar(o.id ?? o['id'])">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container> -->


  <ion-list *ngIf="operativas$ | async as operativas; else noData" >
    <ion-item *ngFor="let o of operativas">
      <ion-label>
        <h3>#{{ o.NumOperativa }} - Fecha: {{ o.Fecha }} / Balance: {{ o.BalanceActual }} </h3>     
        <p> {{ o.NumCuenta }} : {{ o.Setup }} / {{ o.Resultado }} / {{ o.Valor }} </p>
        <p> Comentario: {{ o.Comentario }} </p>
      </ion-label>

      <!-- <ion-button fill="clear" slot="end" (click)="editar(m.id)">
        <ion-icon name="create-outline" size="large" ></ion-icon>
      </ion-button> -->
      <!-- <ion-button fill="clear" slot="end" color="danger" (click)="eliminar(m.id)">
        <ion-icon name="trash-outline" size="large"  ></ion-icon>
      </ion-button> -->

    </ion-item>
  </ion-list>




  <!-- Botón flotante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary"  (click)="irCrear()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #noData>
    <ion-text color="medium">
      <p class="ion-text-center">No hay operativas registradas.</p>
    </ion-text>
  </ng-template>
</ion-content>

