<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva Operativa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="operativaForm" (ngSubmit)="guardarOperativa()">
    <ion-list lines="full">

    <ion-item  >
    <ion-label>Fecha: </ion-label>
    <ion-datetime-button datetime="Fecha"  ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
            <ng-template>
            <ion-datetime
                id="Fecha"
                presentation="date"
                (ionChange)="operativaForm.get('Fecha')?.setValue($event.detail.value)">
            </ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-item>

     <!-- NumCuenta -->
      <ion-item>        
        <ion-input formControlName="NumCuenta" placeholder="Num Cuenta"></ion-input>
      </ion-item>
    
   <ion-item>
  <ion-select
    formControlName="Activo"
    label="Activo"
    interface="popover"
    placeholder="Seleccione" >
    <ion-select-option *ngFor="let ac of activos" [value]="ac.id">
      {{ ac.label }}
    </ion-select-option>
  </ion-select>
  </ion-item>


<ion-item>
  <ion-select
    formControlName="Fase"
    label="Fase"
    interface="popover"
    placeholder="Seleccione" >
    <ion-select-option *ngFor="let fs of fases" [value]="fs.id">
      {{ fs.label }}
    </ion-select-option>
  </ion-select>
  </ion-item>

  <ion-item>
  <ion-select
    formControlName="Setup"
    label="Setup"
    interface="popover"
    placeholder="Seleccione" >
    <ion-select-option *ngFor="let st of setups" [value]="st.id">
      {{ st.label }}
    </ion-select-option>
  </ion-select>
  </ion-item>

  <ion-item>
  <ion-select
    formControlName="Riesgo"
    label="Riesgo"
    interface="popover"
    placeholder="Seleccione" >
    <ion-select-option *ngFor="let rg of riesgos" [value]="rg.id">
      {{ rg.label }}
    </ion-select-option>
  </ion-select>
  </ion-item>

   <ion-item>
  <ion-select
    formControlName="Estrategia"
    label="Estrategia"
    interface="popover"
    placeholder="Seleccione" >
    <ion-select-option *ngFor="let st of estrategias" [value]="st.id">
      {{ st.label }}
    </ion-select-option>
  </ion-select>
  </ion-item>
     
     <ion-item>
    <ion-select
      formControlName="Estatus"
      label="Estatus"
      interface="popover"
      placeholder="Seleccione" >
      <ion-select-option *ngFor="let sts of estatus" [value]="sts.id">
        {{ sts.label }}
      </ion-select-option>
    </ion-select>
    </ion-item>


      <!-- Comentario -->
      <ion-item>        
        <ion-textarea formControlName="Comentario" placeholder="Comentario"></ion-textarea>
      </ion-item>

       <!-- Ciclo -->
      <ion-item>
        
        <ion-input formControlName="Ciclo" placeholder="Ciclo" ></ion-input>
      </ion-item>

      <!-- Trader -->
      <ion-item>
        
        <ion-input formControlName="IdTrader" placeholder="IdTrader"></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input formControlName="NombreTrader" placeholder="NombreTrader"></ion-input>
      </ion-item>

      <!-- Imagen -->
      <ion-item>
        
        <input type="file" (change)="subirImagen($event)" placeholder="Imagen" />
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!operativaForm.valid">
        Guardar Operativa
      </ion-button>
    </div>
  </form>
</ion-content>
