<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


<!-- src/app/pages/operativas/operativaslist.page.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Operativas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Searchbar -->
  <!-- <ion-searchbar
  [(ngModel)]="searchTerm"
  placeholder="Buscar operativas...">
</ion-searchbar> -->

  <!-- Searchbar HTML -->
  <div class="searchbar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar operativas..." class="search-input" />
    <i class="fa fa-search search-icon"></i>
  </div>


  <ion-list *ngIf="operativas$ | async as operativas; else noData">
    <ion-item *ngFor="let o of operativas$ |async | filtroGlobalOperativa:searchTerm">
      <ion-label>
        <h3>#{{ o.NumOperativa }} - Fecha: {{ o.Fecha }} / Balance: {{ o.BalanceActual }} </h3>
        <p> {{ o.NumCuenta }} : {{ o.Setup }} / {{ o.Resultado }} / {{ o.Valor }} </p>
        <p> Comentario: {{ o.Comentario }} </p>
        <p> Gestor: {{ o.IdTrader }} </p>
      </ion-label>

      <!-- <ion-buttons slot="end">
            <ion-button fill="clear" (click)="editar(o.id ?? o['id'])">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="confirmarEliminar(o.id ?? o['id'])">
              <ion-icon name="trash-outline" size="large" ></ion-icon>
            </ion-button>
          </ion-buttons>        

        <ion-item-options side="end">
          <ion-item-option (click)="editar(o.id ?? o['id'])">Editar</ion-item-option>
          <ion-item-option color="danger" (click)="confirmarEliminar(o.id ?? o['id'])">Eliminar</ion-item-option>
        </ion-item-options> -->

      <!-- <ion-button fill="clear" slot="end" (click)="editar(m.id)">
        <ion-icon name="create-outline" size="large" ></ion-icon>
      </ion-button> -->
      <!-- <ion-button fill="clear" slot="end" color="danger" (click)="eliminar(m.id)">
        <ion-icon name="trash-outline" size="large"  ></ion-icon>
      </ion-button> -->

    </ion-item>
  </ion-list>




  <!-- Botón flotante -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary"  (click)="irCrear()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- Botón flotante -->
  <button class="fab fab-tertiary" (click)="irCrear()" title="Nuevo registro">
    <i class="fa fa-plus"></i>
  </button>


  <ng-template #noData>
    <ion-text color="medium">
      <p class="ion-text-center">No hay operativas registradas.</p>
    </ion-text>
  </ng-template>
</ion-content>