<ion-header>
  <ion-toolbar color="success">
    <ion-icon name="star" slot="start"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>JLINVESTING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card>
      <ion-card-header>
        NUESTRO BALANCE
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of totalesTipos">
        <ion-card [style.backgroundColor]="coloresTipos[item.tipo]">
          <ion-card-header>
            <ion-card-title>$ {{ item.valor | number:'1.0-0' }}</ion-card-title>
            <ion-card-subtitle>{{ item.tipo }} Mes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

 

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        BALANCE MES ACTUAL
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        MOVIMIENTOS MES ACTUAL
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvasDia style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

  

  </div>




</ion-content>