<header class="app-header">
  <div class="toolbar">
    <div class="toolbar-start">
      <!-- Botón de menú -->
      <button class="menu-button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        ☰
      </button>
    </div>
    <!-- Título -->
    <h1 class="toolbar-title">JLINVESTING</h1>
  </div>
</header>

<!--Menu-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-warning text-dark">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu Principal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body p-0">

    <ul class="list-group list-group-flush">

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-home me-3 fs-4 text-secondary"></i>
        <a href="/home" class="flex-grow-1 text-decoration-none text-dark">Inicio</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-danger"></i>
        <a href="/cuentas" class="flex-grow-1 text-decoration-none text-dark">Cuentas</a>
        <span class="badge bg-secondary rounded-pill">1</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-success"></i>
        <a href="/movimientos" class="flex-grow-1 text-decoration-none text-dark">Movimientos</a>
        <span class="badge bg-secondary rounded-pill">2</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-info"></i>
        <a href="/operativas" class="flex-grow-1 text-decoration-none text-dark">Operativas</a>
        <span class="badge bg-secondary rounded-pill">3</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-list me-3 fs-4 text-warning"></i>
        <a href="/maestros" class="flex-grow-1 text-decoration-none text-dark">Maestros</a>
        <span class="badge bg-secondary rounded-pill">4</span>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-users me-3 fs-4 text-warning"></i>
        <a href="/clientes" class="flex-grow-1 text-decoration-none text-dark">Clientes</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-building me-3 fs-4 text-warning"></i>
        <a href="/empresas-fond" class="flex-grow-1 text-decoration-none text-dark">Empresas Fond</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-briefcase me-3 fs-4 text-warning"></i>
        <a href="/cuentasxemp" class="flex-grow-1 text-decoration-none text-dark">CuentasXEmp.</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item">
        <i class="fa fa-chart-bar me-3 fs-4 text-warning"></i>
        <a href="/reportes" class="flex-grow-1 text-decoration-none text-dark">Reportes</a>
      </li>

      <li class="list-group-item d-flex align-items-center menu-item mt-2">
        <i class="fa fa-sign-out-alt me-3 fs-4 text-dark"></i>
        <a href="/login" class="flex-grow-1 text-decoration-none text-dark">Salir</a>
      </li>

    </ul>

  </div>
</div>

<!--fin menu-->

<div class="home-container">


  <!-- <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Mes</ion-label>
          <ion-select [(ngModel)]="filtroMes" (ionChange)="aplicarFiltros()">
            <ion-select-option *ngFor="let m of mesesLista" [value]="m.valor">
              {{ m.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label>Año</ion-label>
          <ion-select [(ngModel)]="filtroAnio" (ionChange)="aplicarFiltros()">
            <ion-select-option *ngFor="let a of aniosLista" [value]="a">
              {{ a }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->

<h6>Bienvenidos</h6>

  <div class="ion-padding">

    

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">¿ Quién Somos ?</h5>
            <p class="card-text">Fondo de inversión creado en el 2024 donde nos especializamos en la compra y venta de activos financieros y donde hemos gestionado hasta el momento fondos al rededor de 500 K desde nuestra fundación.</p>
            
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nuestros Pilares</h5>
            <p class="card-text">Nos centramos principlalmente en tres pilares fundamentales: <br> * La Estrategia. <br> * La Gestión de riesgo. <br> * La Disciplina.</p>

          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-3 col-md-2">
        <div class="card">
          <div class="card-body">
                 
                  <img src="../../../assets/img/JLInvesting2.jpg"  />
                
            
          </div>
        </div>
      </div>
      
      <div class="col-sm-9 col-md-8">
        <div class="card">
          <div class="card-body">
            

 <div class="filtros-container" style="padding: 16px;">
      <div class="row">


        <!-- Filtro Año -->
        <div class="col-6">
          <label for="anioSelect">Año</label>
          <select id="anioSelect" [(ngModel)]="filtroAnio" (change)="aplicarFiltros()" class="form-select">
            <option *ngFor="let a of aniosLista" [value]="a">
              {{ a }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <ion-card>
      <ion-card-header>
        NUESTROS HISTORIA
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:30vh; width:40vw"></canvas>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of totalesTipos">
            <ion-card [style.backgroundColor]="coloresTipos[item.tipo]">
              <ion-card-header>
                <ion-card-title>$ {{ item.valor | number:'1.0-0' }}</ion-card-title>
                <ion-card-subtitle>{{ item.tipo }} Mes</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
    


          </div>
        </div>
      </div>
    </div>

   



  </div>




</div>